<div id="calendar">
    <h1> Calendar</h1>
    <div>
        {{$ctrl.month}}-{{$ctrl.year}}
    </div>
    <table class="calendar">
        <thead>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>
        <tbody ng-if="$ctrl.calData.length > 0">
            <tr ng-repeat="(i, week) in $ctrl.calData">
                <td ng-repeat="td in week.tdObj">
                    {{td.day}}
                    -
                    {{td.summary}}
                </td>
            </tr>
        </tbody>
    </table>

</div>