<div id="controlsId">
    <h2>Filter</h2>
    <div name="formFilter">
        <div>
            <label>Year</label>
            <input ng-model="$ctrl.form.year" />
        </div>
        <div>
            <label>Month</label>
            <input ng-model="$ctrl.form.month" />
        </div>
        <button ng-click="$ctrl.filter()">
            Submit
        </button>
    </div>
    <div  ng-show="$ctrl.data.length > 0">
        <calendar 
            to-date="$ctrl.toDate" 
            data="$ctrl.data">
        </calendar>
    </div>
    
</div>