
<div id="authId">
    <div ng-hide="true">
        <div class="g-signin2" data-onsuccess="onSignIn">
        </div>
        <button ng-click="$ctrl.insert()">
            insert
        </button>
        <button ng-click="$ctrl.signOut()">
            logout
        </button>
    </div>
    <button ng-click="$ctrl.signIn()"
        ng-hide="$ctrl.isConnected">
        Sign In
    </button>
    <div ng-if="$ctrl.isConnected">
        <controls></controls>
    </div>
</div>
